*.db
*.log
*.pid
*.pyc
*.sck
*.sqlite3
*.todo
*.md
*~
.coverage
.DS_Store
.env
.noseids
.vagrant
{{ project_name }}/cover/*
requirements.local.txt
{{ project_name }}/media/*
!{{ project_name }}/media/media.empty
{{ project_name }}/staticfiles/*
!{{ project_name }}/staticfiles/static.empty
