<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>{% templatetag openblock %} block title {% templatetag closeblock %} {{ project_name }}{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>
        <meta charset="utf-8">
        <meta name="author" content="{{ project_name }}">
        <meta name="copyright" content="{{ project_name }}">
        <meta name="description" content="{{ project_name }}">
        <meta name="keywords" content="{{ project_name }}">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% templatetag openblock %} block extra_meta {% templatetag closeblock %} {% templatetag openblock %} endblock extra_meta {% templatetag closeblock %}
        {% templatetag openblock %} block styles {% templatetag closeblock %} {% templatetag openblock %} endblock styles {% templatetag closeblock %}
        {% templatetag openblock %} block favicon {% templatetag closeblock %} {% templatetag openblock %} endblock favicon {% templatetag closeblock %}
  </head>

  <body>
    {% templatetag openblock %} block header {% templatetag closeblock %} {% templatetag openblock %} endblock header {% templatetag closeblock %}
    {% templatetag openblock %} block menu {% templatetag closeblock %} {% templatetag openblock %} endblock menu {% templatetag closeblock %}
    {% templatetag openblock %} block messages {% templatetag closeblock %} {% templatetag openblock %} endblock messages {% templatetag closeblock %}
    {% templatetag openblock %} block content {% templatetag closeblock %} {% templatetag openblock %} endblock content {% templatetag closeblock %}
    {% templatetag openblock %} block footer {% templatetag closeblock %} {% templatetag openblock %} endblock footer {% templatetag closeblock %}
    {% templatetag openblock %} block scripts {% templatetag closeblock %} {% templatetag openblock %} endblock scripts {% templatetag closeblock %}
    {% templatetag openblock %} block tracking {% templatetag closeblock %} {% templatetag openblock %} endblock tracking {% templatetag closeblock %}
  </body>
</html>
