<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>{% block title %} {{ cookiecutter.repo_name }} {% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="author" content="{{ cookiecutter.repo_name }}">
        <meta name="copyright" content="{{ cookiecutter.repo_name }}">
        <meta name="description" content="{{ cookiecutter.repo_name }}">
        <meta name="keywords" content="{{ cookiecutter.repo_name }}">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_meta %} {% endblock extra_meta %}
        {% block styles %} {% endblock styles %}
        {% block favicon %} {% endblock favicon %}
  </head>

  <body>
    {% block header %} {% endblock header %}
    {% block menu %} {% endblock menu %}
    {% block messages %} {% endblock messages %}
    {% block content %} {% endblock content %}
    {% block footer %} {% endblock footer %}
    {% block scripts %} {% endblock scripts %}
    {% block tracking %} {% endblock tracking %}
  </body>
</html>
